{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <img src="{% static 'images/4.jpg' %}" id="teaser" alt="MyMolo">

    <div class="placeholder_content">
      <h2>Contact</h2>
      <p>
	My Molo GmbH<br>
	Eberswalder Str. 15B<br>
	16348 Marienwerder<br><br>
	Contact: info@mymolo.de<br>
	Phone: +4930 521 047 61<br>
      </p>
    </div>
    
    {% for post in blogpages %}
	{% with post=post.specific %}

	    <h2><a href="{% pageurl post %}">{{ post.title }}</a></h2>

	    {% with post.main_image as main_image %}
		{% if main_image %}{% image main_image fill-160x100 %}{% endif %}
	    {% endwith %}

	    <p>{{ post.intro }}</p>
	    {{ post.body|richtext }}
	{% endwith %}
    {% endfor %}

{% endblock %}
