{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% load static %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}

    <div class="placeholder_content">
      <h2>Your Lodge</h2>
      <p>
	Book your lodge for the Hurricane festival
      </p>
      <img src="{% static 'images/hurricane.png' %}" id="festival" alt="hurricane festival">
    </div>
    
    <div class="intro">{{ page.intro|richtext }}</div>
    <img src="{% static 'images/3.jpg' %}" id="teaser" alt="MyMolo">

{% endblock %}
