{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}


<div class="row blog_page">
  <div class="col-md-2"></div>
  <div class="col-md-8">

    <h1>{{ page.title }}</h1>
    <p class="meta"><strong>{{ page.date }}</strong></p>

    <div class="intro">{{ page.intro }}</div>
    
    {{ page.body|richtext }}
    {% for item in page.gallery_images.all %}
    <div style="float:left;margin: 10px">
      {% image item.image fill-320x240 %}

      <p>{{ item.caption }}</p>
    </div>
    {% endfor %}
    <div class="row">
      <div class="col-md-12">

      
      {% if page.tags.all.count %}
      <div class="tags">
	<h4>Tags for this post:</h4>
	{% for tag in page.tags.all %}
      <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
      {% endfor %}
      </div>
      {% endif %}
      <div class="spacer50"></div>
    {% with categories=page.categories.all %}
	{% if categories %}
	    <h4>Posted in category:</h4>
	    <ul>
		{% for category in categories %}
		    <li style="display: inline">
			{% image category.icon fill-32x32 style="vertical-align: middle" %}
			{{ category.name }}
		    </li>
		{% endfor %}
	    </ul>
	    {% endif %}
	    {% endwith %}
	    <div class="spacer50"></div>
      <p><a href="{{ page.get_parent.url }}" style="font-size:15pt;">Return to blog</a></p>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>
    
{% endblock %}
